/*===========================================
|   |   |   ABOUT COUNTER CSS START|   |   |   |   
==============================================*/
#about-counter{
    @include pgap(75px,75px,0,0);
    .about-counter-head{
        h2{
            @include font('Roboto', 28px, 500, #382538);
            padding-bottom: 24px;
            padding-left: 20px;
        }
    }
    .about-counter-col{
        border-left: 2px solid #B4A4A4;
        &:first-child{
            border-left: none;
        }
        .about-counter-item{
            h3{
                @include font('Libre Baskerville', 32px, 700, #9E5B07);
                @include pgap(45px,20px,0,0);
            }
            p{
                @include font('Libre Baskerville', 16px, 400, #000);
                padding-bottom: 40px; 
            }
        }
    }
    
}
/*===========================================
|   |   |   ABOUT COUNTER CSS START|   |   |   |   
==============================================*/